.dark-prompt{
    border-radius: 0 !important;
    color: #fff !important;
    background-color: rgba(255, 255, 255, .1) !important;
    border-color: rgba(255, 255, 255, .1) !important;
}


.to-back{
    z-index: -20;
}

.navbar{
    border-radius: 0;
    height: 52px;
}

.navbar .navbar-brand{
    padding: 0.5rem 1rem;
}

.navbar .navbar-brand .ui.image{
    height: 100%;
    margin: 0 auto;
}

.navbar .ui.search, .navbar .ui.input, .navbar input{
    height: 100%;
}