.sticky-top {
  position: fixed;
  width: 100%; }

.sidebar-sticky {
  position: relative;
  margin-top: 48px;
  top: 0; }

@media only screen and (max-width: 768px) {
  .ui.action.input:not([class*="left action"]) > input {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-right-color: rgba(34, 36, 38, 0.15) !important; } }
@media only screen and (max-width: 768px) {
  .navbar {
    height: auto; }
    .navbar #searcher {
      background-color: #494E54;
      height: 42px;
      display: none; }
    .navbar .navbar-nav {
      background-color: #343A40;
      margin: 0 auto;
      font-size: 1.125em;
      display: none; }
    .navbar div ul.nav .nav-item {
      width: 100%;
      padding: 0.6em 0; }
      .navbar div ul.nav .nav-item .nav-link {
        width: 100%;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5); }
        .navbar div ul.nav .nav-item .nav-link:hover, .navbar div ul.nav .nav-item .nav-link:focus {
          background: none; }
        .navbar div ul.nav .nav-item .nav-link:hover, .navbar div ul.nav .nav-item .nav-link.active {
          color: #cc5a5a; } }
.navbar .collapse-button {
  display: none;
  color: #aaa; }
  @media only screen and (max-width: 768px) {
    .navbar .collapse-button {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      background: none;
      margin: 0 !important;
      height: 50px; }
      .navbar .collapse-button:active, .navbar .collapse-button:focus {
        background: none;
        color: #aaa; }
      .navbar .collapse-button:hover {
        background: none;
        color: #fff; } }
  .navbar .collapse-button .sidebar {
    margin: 0 !important;
    position: unset;
    top: initial;
    bottom: initial;
    left: initial;
    z-index: unset;
    padding: unset;
    box-shadow: unset; }

.container-fluid {
  margin-top: 50px; }
  @media only screen and (max-width: 768px) {
    .container-fluid .ui.segment > div {
      width: 100%;
      margin-bottom: 6px; }
      .container-fluid .ui.segment > div div.ui.input {
        width: 100%; }
      .container-fluid .ui.segment > div:last-of-type {
        margin-bottom: 0; } }
