.disabled {
  color: rgba(40, 40, 40, 0.3) !important; }

.ui .label > .icon {
  margin: 0 0.25em; }
.ui[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.btn.selective.primary .secondary {
  display: none;
  visibility: hidden; }
.btn.selective.secondary .primary {
  display: none;
  visibility: hidden; }

#trigger-upload {
  color: white;
  background-color: #00ABC7;
  font-size: 14px;
  padding: 7px 20px;
  background-image: none; }

#fine-uploader-manual-trigger .qq-upload-button {
  margin-right: 15px; }

.qq-hide {
  display: none; }
