.disabled{
    
    color: rgba(40,40,40,.3) !important;
}

.ui{
    .label{
        &>.icon{
            margin: 0 0.25em;
        }
    }
}

.btn{
    &.selective{
        &.primary{
            .secondary{
                display: none;
                visibility: hidden;
            }
        }

        &.secondary{
            .primary{
                display: none;
                visibility: hidden;
            }
        }
    }
}